html{
    font-size: calc(0.7em + 0.7vw);
    font-family: "Trebuchet MS";
    
}
main{
    margin-left: 25pt;
    margin-right: 25pt;
}
.header1{
    text-align: center;
    font-size: 2em;
}
.header2{
    text-align: center;
}
.header3{
    text-align: center;
}
.image_cars{
    max-width: 100%;
    width: 980px; 
    height: auto;
    vertical-align: auto;
}
div{
    text-align: center;
    vertical-align: middle;
}
p{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 980px;
    text-align: justify;
    text-indent: 30px;
}
